<!-- header.ejs -->

<!DOCTYPE html>
<html lang="de">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style> 

</style>
  <title>Pfadfinder Abenteuer</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      
          <div class="navbar-header">
              <a class="navbar-brand" href="/">
                  <span class="glyphicon glyphicon glyphicon-tree-deciduous">

                  </span>
                  Pfadi-Geocaching
              </a>
      
              <!-- <ul class="nav navbar-nav">
                  <li><a href="/charts">Rangliste</a></li>
              </ul> -->
          </div>
      
      </div>
  </nav>
  </header>