<%- include("header.ejs") %>
  <main>
    <div class="jumbotron">
  <table>        
    <th>Rätsel Übersicht</th>
    <% for(var i=0; i < data.length; i++) { %>
       <tr>   

         <td>
          <a href=/stage?n=<%= i %>><%= data[i].name %></a></td>
       </tr>
    <% } %>
    </table>
  </div>
</main>
</body>
</html>